#!/bin/sh
export BROWSER=google-chrome-stable
export XDG_CONFIG_HOME="$HOME/.config"
export SUDO_ASKPASS=/usr/bin/lxqt-openssh-askpass
export SSH_ASKPASS=/usr/bin/lxqt-openssh-askpass
export GOPATH="$HOME/.local/share/go"
export PATH="$PATH:$HOME/.local/bin:$HOME/.local/scripts:$GOPATH/bin"

setxkbmap -layout us,ru -option 'grp:caps_toggle,grp:rctrl_rshift_toggle'

# Start ssh-agent
if ! pgrep -u "$USER" ssh-agent > /dev/null; then
    ssh-agent -t 1h > "$XDG_RUNTIME_DIR/ssh-agent.env"
fi
if [[ ! "$SSH_AUTH_SOCK" ]]; then
    source "$XDG_RUNTIME_DIR/ssh-agent.env" >/dev/null
fi
